<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ page }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <app-input
      label="Full Name"
      labelPlacement="stacked"
      placeholder="Juan Dela Cruz"
      [control]="fullname"
      [errorMessages]="errorMessages.fullname"
      [title]="title"
      [readonly]="true"
    ></app-input>

    <app-input
      label="Age"
      labelPlacement="stacked"
      placeholder="23"
      [control]="age"
      [errorMessages]="errorMessages.age"
      [title]="title"
      [readonly]="true"
    ></app-input>

    <app-input
      label="Gender"
      labelPlacement="stacked"
      placeholder="23"
      [control]="gender"
      [errorMessages]="errorMessages.gender"
      [title]="title"
      [readonly]="true"
    ></app-input>

    <app-input
      label="Working Hours"
      labelPlacement="stacked"
      placeholder="10:30 AM"
      [control]="time"
      [errorMessages]="errorMessages.time"
      [title]="title"
    ></app-input>

    <app-input
      label="Schedule"
      labelPlacement="stacked"
      placeholder="Your Schedule"
      [control]="schedule"
      [errorMessages]="errorMessages.schedule"
      [title]="title"
    ></app-input>

    <app-input
      label="Condition"
      labelPlacement="stacked"
      [control]="condition"
      [errorMessages]="errorMessages.condition"
      [title]="title"
    ></app-input>

    <ion-button
      *ngIf="title === 'View'; else btnInsertUpdate"
      [strong]="true"
      expand="block"
      color="danger"
      size="default"
      expand="full"
      (click)="cancelUserAppointment(appointment)"
      >Cancel Appoinment</ion-button
    >

    <ng-template #btnInsertUpdate>
      <ion-button type="submit" [strong]="true" expand="full" size="default"
        >Submit</ion-button
      >
    </ng-template>

    <!-- <ion-button type="submit" [strong]="true" expand="block">Submit</ion-button> -->
  </form>
</ion-content>
