<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 0 !important">About Us</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-img
    src="https://media.npr.org/assets/img/2014/11/26/npr_11_16_14_wide-a1ab186ae274aa22fb3119e2651f0469c1ca09aa.jpg"
  ></ion-img>

  <ion-label>
    <p>
      Lorem ipsum dolor sit amet. Non quos nemo est illum iusto ea numquam
      aspernatur qui odio cupiditate. Cum maxime internos sed tempora temporibus
      qui dolore nisi et nesciunt architecto hic tenetur accusantium. Non
      voluptates fuga ea illo repellat et aperiam totam et veritatis atque et
      vitae consequatur.
    </p>
  </ion-label>

  <ion-label>
    <p>
      Est quia rerum sed quae internos hic rerum fuga ut perspiciatis Quis ea
      enim eligendi. Qui numquam harum et velit nobis in deleniti reprehenderit
      id asperiores dolorum vel officiis illum. Sit voluptas nemo quo
      voluptatibus sint aut recusandae quisquam cum autem cupiditate.
    </p>
  </ion-label>

  <h5>Developers</h5>
  <ion-item style="--padding-start: 0px !important">
    <ion-thumbnail slot="start">
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-label>
      <h3>Paulo Maningo</h3>
      <p>Est quia rerum sed quae internos hic</p>
    </ion-label>
  </ion-item>
  <ion-item style="--padding-start: 0px !important">
    <ion-thumbnail slot="start">
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-label>
      <h3>Paulo Maningo</h3>
      <p>Est quia rerum sed quae internos hic</p>
    </ion-label>
  </ion-item>
  <ion-item style="--padding-start: 0px !important">
    <ion-thumbnail slot="start">
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-label>
      <h3>Paulo Maningo</h3>
      <p>Est quia rerum sed quae internos hic</p>
    </ion-label>
  </ion-item>
  <ion-item style="--padding-start: 0px !important">
    <ion-thumbnail slot="start">
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-label>
      <h3>Paulo Maningo</h3>
      <p>Est quia rerum sed quae internos hic</p>
    </ion-label>
  </ion-item>
  <ion-item style="--padding-start: 0px !important">
    <ion-thumbnail slot="start">
      <img
        alt="Silhouette of mountains"
        src="https://ionicframework.com/docs/img/demos/thumbnail.svg"
      />
    </ion-thumbnail>
    <ion-label>
      <h3>Paulo Maningo</h3>
      <p>Est quia rerum sed quae internos hic</p>
    </ion-label>
  </ion-item>
</ion-content>
