<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()"> Logout </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <!-- First item with 1 column and 2-row span -->
        <ion-card style="height: 208px">
          <ion-card-header class="ion-text-center" style="padding-bottom: 0">
            <ion-card-subtitle>Appointments</ion-card-subtitle>
            <ion-card-title
              class="ion-text-center"
              style="font-size: 3rem; font-style: bold"
              >{{totalAppointments}}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center" style="height: 1.5rem">
              <ion-icon name="briefcase" style="font-size: 2rem"></ion-icon>
            </div>
            <ion-button
              expand="block"
              fill="outline"
              style="margin-top: 1.5rem"
              routerLink="/admin/home/appointment-history"
            >
              History
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- Second item with 1 column -->
        <ion-card style="height: 100px">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center"
              >Completed</ion-card-subtitle
            >
            <ion-card-title
              class="ion-text-center"
              style="font-size: 2rem; font-style: bold"
              >{{completedAppointments}}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
        <ion-card style="height: 100px">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center"
              >Cancelled</ion-card-subtitle
            >
            <ion-card-title
              class="ion-text-center"
              style="font-size: 2rem; font-style: bold"
              >{{cancelledAppointments}}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <!-- Second item with 1 column -->
        <ion-card style="height: 100px">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center"
              >Completed</ion-card-subtitle
            >
            <ion-card-title
              class="ion-text-center"
              style="font-size: 2rem; font-style: bold"
              >{{completedOrders}}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
        <ion-card style="height: 100px">
          <ion-card-header>
            <ion-card-subtitle class="ion-text-center"
              >Cancelled</ion-card-subtitle
            >
            <ion-card-title
              class="ion-text-center"
              style="font-size: 2rem; font-style: bold"
              >{{cancelledOrders}}</ion-card-title
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <!-- First item with 1 column and 2-row span -->
        <ion-card style="height: 208px">
          <ion-card-header class="ion-text-center" style="padding-bottom: 0">
            <ion-card-subtitle>Requests</ion-card-subtitle>
            <ion-card-title
              class="ion-text-center"
              style="font-size: 3rem; font-style: bold"
              >{{totalOrders}}</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            <div class="ion-text-center" style="height: 1.5rem">
              <ion-icon name="medkit" style="font-size: 2rem"></ion-icon>
            </div>
            <ion-button
              expand="block"
              fill="outline"
              style="margin-top: 1.5rem"
              routerLink="/admin/home/order-history"
            >
              History
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
