<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <img width="100%" src="../../assets/img/dental.jpg" alt="" />
  <ion-label>
    <h2 style="margin: 0 0 12px 0">Patient: {{ appointment.fullName }}</h2>
    <h3 style="margin: 0 0 12px 0">Schedule: {{ appointment.schedule }}</h3>
    <h3 style="margin: 0 0 12px 0">Time: {{ appointment.time }}</h3>
    <h3 style="margin: 0 0 12px 0">Gender: {{ appointment.gender }}</h3>
    <h3 style="margin: 0 0 12px 0">Age: {{ appointment.age }}</h3>
    <h3 style="margin: 0 0 12px 0">Time: {{ appointment.time }}</h3>
    <h3 style="margin: 0 0 12px 0">Condition: {{ appointment.condition }}</h3>
  </ion-label>
</ion-content>

<ion-footer lines="none" class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ng-container [ngSwitch]="status">
        <ion-row *ngSwitchCase="'pending'">
          <ion-col>
            <ion-button expand="full" (click)="alertConfirmAppoitment()"
              >Confirm</ion-button
            ></ion-col
          >
          <ion-col>
            <ion-button
              color="danger"
              expand="full"
              (click)="alertCancelAppointmnet()"
              >Cancel</ion-button
            ></ion-col
          >
        </ion-row>

        <ion-row *ngSwitchCase="'approved'">
          <ion-col>
            <ion-button
              color="danger"
              expand="full"
              (click)="alertCancelAppointmnet()"
              >Cancel</ion-button
            ></ion-col
          ></ion-row
        >
        <ion-row *ngSwitchCase="'ongoing'">
          <ion-col>
            <ion-button expand="full" (click)="alertFinishedAppointment()"
              >Finish</ion-button
            ></ion-col
          >
          <ion-col>
            <ion-button color="danger" expand="full"
              >Med Certificate</ion-button
            ></ion-col
          >
        </ion-row>
      </ng-container>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
