<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <!-- <ion-button (click)="alertCancelAppointmnet()">Click Me!</ion-button> -->
  <img
    src="https://media.newyorker.com/photos/590967612179605b11ad64e0/master/w_2560%2Cc_limit/120402_r22010_g2048.jpg"
    alt=""
  />
  <ion-label>
    <h2>Patient: {{ appointment.fullName }}</h2>
    <p>Schedule: {{ appointment.schedule }}</p>
    <p>Time: {{ appointment.time }}</p>
    <p>Gender: {{ appointment.gender }}</p>
    <p>Age: {{ appointment.age }}</p>
    <p>Time: {{ appointment.time }}</p>
    <p>Condition: {{ appointment.condition }}</p>
  </ion-label>
</ion-content>
