<ion-item>
  <!-- <ion-label position="floating">{{ label }}</ion-label> -->
  <ion-input
    [label]="label"
    [formControl]="control"
    [placeholder]="placeholder"
    [type]="type"
    [labelPlacement]="labelPlacement"
    [readonly]="title === 'View'"
    [readonly]="readonly"
  ></ion-input>
</ion-item>
<div class="validation-errors">
  <ng-container *ngIf="control.invalid && control.touched">
    <div *ngFor="let error of control.errors | keyvalue" class="error-message">
      <ion-icon name="information-circle-outline"></ion-icon>
      {{ errorMessages[error.key] }}
    </div>
  </ng-container>
</div>
