<ion-content class="ion-padding">
  <ion-img src="../../assets/img/logo1.png" alt=""></ion-img>

  <h2
    style="
      color: #0057ff;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 4rem;
    "
  >
    Smile is the pretiest thing you can wear.
  </h2>
  <h3 style="font-size: 0.9rem; margin-top: 0; margin-bottom: 2rem">
    Schedule an appoinment to get your teeth and gums checked, so you can feel
    confident about your smile.
  </h3>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <app-input
      type="email"
      label="Email"
      placeholder="Enter Email"
      labelPlacement="floating"
      [control]="email"
      [errorMessages]="errorMessages.email"
    ></app-input>

    <app-input
      type="password"
      label="Password"
      placeholder="Enter Password"
      labelPlacement="floating"
      [control]="password"
      [errorMessages]="errorMessages.password"
    ></app-input>

    <ion-button style="margin-top: 2rem" type="submit" expand="block"
      >Login</ion-button
    >

    <p style="text-align: center">
      I'm a new user, <a routerLink="/register">Register</a>
    </p>
  </form>
</ion-content>
