<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar class="ion-no-border">
    <!-- <ion-title>homesss</ion-title> -->
    <ion-item class="ion-no-border">
      <ion-avatar slot="start">
        <img
          alt="Silhouette of a person's head"
          src="https://ionicframework.com/docs/img/demos/avatar.svg"
        />
      </ion-avatar>
      <ion-label style="display: flex; flex-direction: column"
        ><span>Paulo Maningo</span>
        <span style="font-size: 0.8rem">subscribe2paolul@gmail.com</span>
      </ion-label>
      <ion-button
        fill="clear"
        style="
          position: relative;
          width: 42px;
          top: 1px;
          right: 1px;
          overflow: visible !important;
        "
      >
        <ion-badge
          style="
            background-color: #0057ff;
            position: absolute;
            top: 0;
            right: 0;
            border-radius: 70%;
            font-size: 0.5rem;
            font-weight: 400;
          "
          ><span style="text-align: center">1</span></ion-badge
        >
        <ion-icon color="dark" slot="icon-only" name="notifications-outline">
        </ion-icon>
      </ion-button>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <h3 style="font-weight: 800; color: #0057ff; margin: 0 !important">
    Good Morning,
  </h3>
  <h6 style="margin: 0 0 0.8rem 0 !important">
    Selfcare is the new healthcare.
  </h6>

  <ion-card
    style="
      background-image: url(../../assets/img/smile.jpg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      margin: 10px 0 10px 0 !important;
      padding: 16px;
      height: 170px !important;
      border-radius: 10px;
      color: #fff;
      text-align: right;
      align-items: center;
    "
  >
    <h2 style="font-weight: bold">
      SMILE, IT LETS <br />
      YOUR TEETH BREATHE
    </h2>
    <p style="margin: 0 !important">Your smile begins here</p>
  </ion-card>

  <ion-grid style="padding-left: 0 !important; padding-right: 0 !important">
    <ion-row>
      <ion-col style="padding-left: 0 !important">
        <ion-card
          style="
            background-image: url(../../assets/img/services1.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 !important;
            padding: 16px;
            height: 140px !important;
            border-radius: 10px;
            color: #fff;
            display: flex;
            align-items: end;
            justify-content: space-between;
            box-shadow: none;
          "
        >
          <h6
            style="
              font-weight: bold;
              align-self: flex-end;
              display: flex;
              align-items: center;
              margin: 0 !important;
            "
          >
            FREE CONSULTATION
            <ion-icon
              style="margin: 0 !important; padding: 0 !important"
              name="chevron-forward-outline"
            ></ion-icon>
          </h6>
        </ion-card>
      </ion-col>
      <ion-col style="padding-right: 0 !important">
        <ion-card
          style="
            background-image: url(../../assets/img/services2.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 !important;
            padding: 16px;
            height: 140px !important;
            border-radius: 10px;
            color: #fff;
            display: flex;
            align-items: end;
            justify-content: space-between;
            box-shadow: none;
          "
        >
          <h6
            style="
              font-weight: bold;
              align-self: flex-end;
              display: flex;
              align-items: center;
              margin: 0 !important;
            "
          >
            FREE MEDICATION
            <ion-icon
              style="margin: 0 !important; padding: 0 !important"
              name="chevron-forward-outline"
            ></ion-icon>
          </h6>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <h5>Common Dental Problems</h5>

  <ion-grid style="padding-left: 0 !important; padding-right: 0 !important">
    <ion-row>
      <ion-col style="padding-left: 0 !important">
        <ion-card
          (click)="openToothDecay()"
          style="
            background-image: url(../../assets/img/services33.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 0 16px 0 !important;
            padding: 16px;
            height: 180px !important;
            border-radius: 10px;
            display: flex;
            align-items: end;
            justify-content: space-between;
            border: 1px solid #b4b4b4;
            box-shadow: none;
          "
        >
          <h6
            style="
              font-weight: bold;
              align-self: flex-end;
              display: flex;
              align-items: center;
              margin: 0 !important;
              color: #424242;
            "
          >
            TOOTH DECAY
          </h6>
        </ion-card>
        <ion-card
          style="
            background-image: url(../../assets/img/services5.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 0 16px 0 !important;
            padding: 16px;
            height: 130px !important;
            border-radius: 10px;
            display: flex;
            align-items: end;
            justify-content: space-between;
            border: 1px solid #b4b4b4;
            box-shadow: none;
          "
        >
          <h6
            style="
              font-weight: bold;
              align-self: flex-end;
              display: flex;
              align-items: center;
              margin: 0 !important;
              color: #424242;
            "
          >
            GUM DISEASE
          </h6>
        </ion-card>
      </ion-col>
      <ion-col style="padding-right: 0 !important">
        <ion-card
          style="
            background-image: url(../../assets/img/services4.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 0 16px 0 !important;
            padding: 16px;
            height: 130px !important;
            border-radius: 10px;
            display: flex;
            align-items: end;
            justify-content: space-between;
            border: 1px solid #b4b4b4;
            box-shadow: none;
          "
        >
          <h6
            style="
              font-weight: bold;
              align-self: flex-end;
              display: flex;
              align-items: center;
              margin: 0 !important;
              color: #424242;
            "
          >
            BAD BREATH
          </h6>
        </ion-card>
        <ion-card
          style="
            background-image: url(../../assets/img/services6.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            margin: 0 0 16px 0 !important;
            padding: 16px;
            height: 180px !important;
            border-radius: 10px;
            display: flex;
            align-items: end;
            justify-content: space-between;
            border: 1px solid #b4b4b4;
            box-shadow: none;
          "
        >
          <h6
            style="
              font-weight: bold;
              align-self: flex-end;
              display: flex;
              align-items: center;
              margin: 0 !important;
              color: #424242;
            "
          >
            SENSITIVE TEETH
          </h6>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
