<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 0 !important">Change Password</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <form [formGroup]="formGroup" (ngSubmit)="submit(formGroup.value)">
    <app-input
      type="password"
      label="Old Password"
      labelPlacement="stacked"
      [control]="old_password"
      [errorMessages]="errorMessages.password"
    ></app-input>
    <app-input
      type="password"
      label="New Password"
      labelPlacement="stacked"
      [control]="new_password"
      [errorMessages]="errorMessages.password"
    ></app-input>
    <app-input
      type="password"
      label="Confirm Password"
      labelPlacement="stacked"
      [control]="confirm_password"
      [errorMessages]="errorMessages.confirm_password"
    ></app-input>
    <ion-button
      [disabled]="formGroup.invalid"
      expand="block"
      color="primary"
      type="submit"
    >
      Submit
    </ion-button>

    <p style="color: red">{{ errorMessage }}</p>
  </form>
</ion-content>
