<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="cancel()">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title style="padding-left: 0 !important">Request Medicine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="medicineLength !== 0; else noItem">
    <ion-list>
      <ion-item *ngFor="let medicine of medicine" button>
        <ion-label>
          <h3>{{ medicine.name }}</h3>
        </ion-label>
        <ion-label slot="end">
          <h3>{{ medicine.orderQty }}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #noItem>
    <div
      style="
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      "
    >
      <img src="../../assets/img/results.png" alt="" />
    </div>
  </ng-template>
</ion-content>

<ion-footer *ngIf="medicineLength !== 0" lines="none" class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-button expand="full" (click)="addToOrder()"
            >Submit Request</ion-button
          ></ion-col
        >
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
