<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>My Appointments</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let appointment of appointments" button>
      <ion-card
        style="
          margin: 0 0 16px 0 !important;
          width: 100%;
          border-radius: 10px !important;
          background: rgb(2, 0, 36);
          background: linear-gradient(
            90deg,
            rgba(2, 0, 36, 1) 0%,
            rgba(46, 114, 243, 1) 0%,
            rgba(11, 62, 174, 1) 100%
          );
        "
      >
        <ion-card-header style="color: #fff !important">
          <ion-label>
            <div style="display: flex; justify-content: space-between">
              <ion-card-subtitle style="color: #fff !important"
                >Patient: {{appointment.fullName}}</ion-card-subtitle
              >
              <ion-button
                style="font-size: 0.7rem !important"
                fill="clear"
                (click)="updateUserAppointment(appointment)"
              >
                <ion-icon
                  slot="icon-only"
                  color="light"
                  name="settings"
                ></ion-icon>
              </ion-button>
            </div>
            <h1><b> Tooth Extraction</b></h1>
            <p style="color: #fff !important">
              Dr. Juan Dela Cruz, dentist-surgeon
            </p>
          </ion-label>
        </ion-card-header>
        <ion-card-content
          (click)="viewUserAppointment(appointment)"
          style="
            background-color: #fff !important;
            padding: 8px 12px 8px 12px !important;
            margin: 0 16px 16px 16px !important;
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
          "
        >
          <div style="display: flex; align-items: center">
            <ion-icon size="large" name="calendar-outline"></ion-icon>
            <p style="margin-left: 10px !important">{{appointment.schedule}}</p>
          </div>

          <div style="display: flex; align-items: center">
            <ion-icon size="large" name="alarm-outline"></ion-icon>
            <p style="margin-left: 10px !important">{{appointment.time}}</p>
          </div>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button (click)="insertUserAppointment()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
