<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>medicine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
  <ion-list>
    <ion-item
      *ngFor="let medicine of inventoryList"
      button
      (click)="openMedicineInformation(medicine)"
    >
      <ion-label>
        <h3>{{medicine.name}}</h3>
        <p>Available</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab
    slot="fixed"
    vertical="bottom"
    horizontal="end"
    (click)="openUserCart()"
  >
    <ion-fab-button>
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
