<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>medicine</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-searchbar placeholder="Custom Placeholder"></ion-searchbar>
  <ion-list>
    <ion-item>
      <ion-label>
        <h3>Bioflu</h3>
        <p>Available</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h3>Paracetamol</h3>
        <p>Available</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
