<ion-content [fullscreen]="true" class="ion-padding">
  <h2
    style="
      color: #0057ff;
      font-weight: bold;
      margin-bottom: 1rem;
      margin-top: 3rem;
    "
  >
    Create Account
  </h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <app-input
      type="text"
      label="Full Name"
      labelPlacement="stacked"
      [control]="fullname"
      [errorMessages]="errorMessages.fullname"
    ></app-input>
    <app-input
      type="text"
      label="School ID"
      labelPlacement="stacked"
      [control]="schoolID"
      [errorMessages]="errorMessages.schoolID"
    ></app-input>
    <app-input
      type="text"
      label="Age"
      labelPlacement="stacked"
      [control]="age"
      [errorMessages]="errorMessages.age"
    ></app-input>
    <app-input
      type="text"
      label="Gender"
      labelPlacement="stacked"
      [control]="gender"
      [errorMessages]="errorMessages.gender"
    ></app-input>
    <app-input
      type="text"
      label="Phone Number"
      labelPlacement="stacked"
      [control]="phoneNumber"
      [errorMessages]="errorMessages.phoneNumber"
    ></app-input>

    <app-input
      type="text"
      label="Address"
      labelPlacement="stacked"
      [control]="address"
      [errorMessages]="errorMessages.address"
    ></app-input>
    <app-select
      placeholder="Select college"
      label="College"
      [options]="collegeOptions"
      [control]="college"
      [errorMessages]="errorMessages.college"
      (selected)="selectedCollege($event)"
    ></app-select>
    <app-select
      placeholder="Select course"
      label="Course"
      [options]="courseOptions"
      [control]="course"
      [errorMessages]="errorMessages.course"
    ></app-select>
    <app-input
      type="email"
      label="Email"
      labelPlacement="stacked"
      [control]="email"
      [errorMessages]="errorMessages.email"
    ></app-input>
    <app-input
      type="password"
      label="Password"
      labelPlacement="stacked"
      [control]="password"
      [errorMessages]="errorMessages.password"
    ></app-input>

    <ion-button
      [disabled]="formGroup.invalid"
      expand="block"
      color="primary"
      type="submit"
      style="margin-top: 3rem"
    >
      Register
    </ion-button>

    <p style="text-align: center">
      Already have an account, <a routerLink="/login">Login</a>
    </p>
  </form>
</ion-content>
