<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">register</ion-title>
    </ion-toolbar>
  </ion-header>

  <form [formGroup]="formGroup" (ngSubmit)="onSubmit(formGroup.value)">
    <app-input
      type="email"
      label="Email"
      placeholder="Enter Email"
      [control]="email"
      [errorMessages]="errorMessages.email"
    ></app-input>
    <app-input
      type="password"
      label="Password"
      placeholder="Enter Password"
      [control]="password"
      [errorMessages]="errorMessages.password"
    ></app-input>
    <ion-button expand="block" color="primary" type="submit">
      Register
    </ion-button>
  </form>
</ion-content>
